.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    height: 30%;
}

.heading_div
{
    float: none;
    background: ivory;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2
{
    font-size: 18px;
}

.result_para_tag
{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}

.copy_right_footer
{
    position: fixed;
    color:indigo;
    bottom: 0;
    width: 100%;
    background: indianred;
    text-align: center;
    line-height: 2;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

canvas
{
  border: 5px solid cornsilk;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 150px;
}